<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/styles.css')}}">
    <title>Excel Data Converter</title>
</head>

<body>
    <main class="container">
        <header>
            <h1>File Processed Successfully</h1>
        </header>

        <section class="processed_message">
            <p>The file has been processed successfully.</p>
            <a href="{{ download_url }}" download><button>Download Processed File</button></a>
            <a href="{{ url_for('homepage') }}"><button>Return to Homepage</button></a>
        </section>

        <footer>All rights reserved &copy;</footer>
    </main>
</body>

</html>